## vim:set syntax=mako:
<%namespace file="/expression.tmpl" name="expr" />
<%!
    from bdec.field import Field
    from bdec.sequence import Sequence
%>

<%!
def _define_params(entry, get_params):
    result = ""
    for param in get_params(entry):
        if param.direction is param.IN:
            result += ", int %s" % param.name
        else:
            result += ", int* %s" % param.name
    return result

def _params(parent, entry, get_params, local_variables):
    result = ""
    for param in get_params(entry):
        if param.direction is param.OUT and param.name in local_variables:
            result += ", &%s" % param.name
        else:
            result += ", %s" % param.name
    return result
%>

<%def name="define_params(entry)">
${_define_params(entry, get_params)}
</%def>

<%def name="params(parent, entry)">
${_params(parent, entry, get_params, local_vars(parent))}
</%def>

<%def name="decodeField(entry, varname)">
    if (${expr.length(entry.length)} > buffer->num_bits)
    {
        return 0;
    }
  %if entry.format == Field.INTEGER:
    %if entry.encoding == Field.BIG_ENDIAN:
    ${varname} = decode_integer(buffer, ${expr.length(entry.length)});
    %else:
    ${varname} = decode_little_endian_integer(buffer, ${expr.length(entry.length)});
    %endif
    %if is_referenced(entry):
    *${entry.name |variable} = ${varname};
    %endif
  %elif entry.format == Field.TEXT:
    int i;
    int ${entry.name + ' length' |variable} = ${expr.length(entry.length)} / 8;
    ${varname} = malloc(${entry.name + ' length' |variable} + 1);
    ${varname}[${entry.name + ' length' |variable}] = 0;
    for (i = 0; i < ${entry.name + ' length' |variable}; ++i)
    {
        ${varname}[i] = decode_integer(buffer, 8);
    }
  %elif entry.format == Field.HEX:
    int i;
    ${varname}.length = ${expr.length(entry.length)} / 8;
    ${varname}.buffer = malloc(${varname}.length);
    for (i = 0; i < ${varname}.length; ++i)
    {
        ${varname}.buffer[i] = decode_integer(buffer, 8);
    }
  %elif entry.format == Field.BINARY:
    // FIXME: We are referencing the source buffer!
    ${varname} = *buffer;
    ${varname}.num_bits = ${expr.length(entry.length)};
    buffer->start_bit += ${varname}.num_bits;
    buffer->buffer += buffer->start_bit / 8;
    buffer->start_bit %= 8;
    buffer->num_bits -= ${varname}.num_bits;
  %else:
    #error Unknown field type ${entry}
  %endif
     %if entry.expected is not None:
    if (${varname} != ${int(entry.expected)})
    {
        return 0;
    }
     %endif
</%def>
