## vim:set syntax=mako:
<%!
    from bdec.spec.expression import Delayed, ValueResult, LengthResult, Constant
    import operator
%>

<%def name="get_op(op)">
    %if op == operator.__div__:
/
    %elif op == operator.__mul__:
*
    %elif op == operator.__sub__:
-
    %elif op == operator.__add__:
+
    %else:
#error Unknown operator type ${op}!
    %endif
</%def>

<%def name="recursive_expr(length)">
  %if isinstance(length, int):
${length}
  %elif isinstance(length, Constant):
${length.value}
  %elif isinstance(length, ValueResult):
${length.name|variable}
  %elif isinstance(length, LengthResult):
${length.name + ' length' |variable}
  %elif isinstance(length, Delayed):
(${recursive_expr(length.left)} ${get_op(length.op)} ${recursive_expr(length.right)}) 
  %else:
  #error Unknown length item ${length} 
  %endif
</%def>

<%def name="length(expression)">
${recursive_expr(expression)}
</%def>
